
/*flexbox*/

.parent{
    background-color:#f073e1;
    margin: 10px;
    padding: 30px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center; /*cross exis |*/
    justify-content: center;   /*main exis--->*/
   
}


/*child property

align-self: start -- /*cross exis |
 flex: 0 1 auto;

*/



.div1{
    background-color:#f800db;
    margin: 5px;
}

.div2{
    background-color:#f800db;
    margin: 5px;
    width: 150px;
    font-size: 30px;
}

.div3{
    background-color:#f800db;
    margin: 5px;
    height: 150px;
}

.div4{
    background-color:#f800db;
    margin: 5px;
    height: 150px;
    width: 150px;
}

.div5{
    background-color:#f800db;
    margin: 5px;
    width: 200px;
    flex: 0 1 auto;
}

.div6{
    background-color:#f800db;
    margin: 5px;
    width: 200px;
    flex: 0 1 100px ;
}










