/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}
body {  
    background: #92bde7;
    color: #485e74;
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 1em
}

